# Default owners for everything in the repo
* @sushantvema-harper

# Core application code
/cmd/ @sushantvema-harper
/internal/ @sushantvema-harper

# Configuration files
/.github/ @sushantvema-harper
/.golangci.yml @sushantvema-harper
/.goreleaser.yml @sushantvema-harper
/go.mod @sushantvema-harper
/go.sum @sushantvema-harper

# Documentation
/README.md @sushantvema-harper
/docs/ @sushantvema-harper
/LICENSE @sushantvema-harper
